.headerDiv{
    width: 15%; 
    background-color: gray;
    padding: 1px;
    float: left;
    height: 30px;
}
.headerContant{
    width: 10%; 
    background-color: gray;
    padding: 1px;
    float: left;
    height: 30px;
    font-weight: bold;
}
.mainheader{
    width: 50%;
    /* background-color: bisque; */
    text-align: center;
}
.bluecolor{
    color: blue;
    text-align: center;
}
h1{
    font-size: 3em;
    text-align: center;
}
.para{
    font-size:2em;
    font-style: normal;
}
img{
    text-align: center;
}